

table{
    /* border: 2px solid black; */
    margin: 100px auto;
}

td{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
}

.blank{
    border: none;
}

.sky{
    background-color: rgb(0, 204, 204);
}
.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.liteyellow{
    background-color: rgb(255, 191, 105);
}

.litegreen{
    background-color: rgb(128, 224, 160);
}
.blueish{
    background-color: rgb(128, 216, 224)
}

.orange{
    background-color: orangered;
}
.Red{
    background-color: red ;
}